.page{
 /* background-color: #F7F8F9; */
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 height: 100vh;
 width: 100vw;
 align-items: end;

 
}
.first-page{
  width: 15rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  
}


.input-btn{
  margin-top: 1rem;
}

.Credential{
  padding: 8px 35px;
  width: 15.5rem;
  border-radius: 5px;
  font-weight: 600;
}

.SignUp{
  background-color: #6C25FF;
  border: 1px solid #6C25FF;
  color: white;
  margin-bottom: 0.5rem;
}

.Login{
  background-color: #CEBAFB;
  border:1px solid #CEBAFB;
  
}